body{
  background-image: url("alex.jpg");
  background-color: #C1E1C1;
  background-repeat:  repeat;
  
  padding: 0;
  background-size:contain;
  width: 100%;
  background-attachment: fixed;
  background-size: 100%;
  
}


* {
    box-sizing: border-box;
   
  }
  img {
    border: 5px solid #C1E1C1;
  }
  /* @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  } */
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 0px;
  }
