/* place holder for actual picture "https://pbs.twimg.com/profile_banners/1135061570961076225/1651524644/1500x500"*/


body{
  background-image: url("Untitled-Artwork.JPEG");
  background-color: #C1E1C1;
  background-repeat: no-repeat;
  background-attachment: fixed;
  

  
  background-size: cover;
  
  
}
/*C:\Users\Jaylen\Downloads\b6ab0a6e643e3cd4202f1ac71c511913.jpg
/*create img element and place it in the the top but not in the body or try with the body
/* make alex drawing background scroll over the acting header in this case the body */
/* "https://i.pinimg.com/originals/00/41/40/004140673550b922a44a6e1d04bebd92.jpg"*/
  .header{
    position:relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 30vh;
    background-image: url("https://i.pinimg.com/originals/00/41/40/004140673550b922a44a6e1d04bebd92.jpg");
    background-position: center, bottom;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: inherit;
 
  }
  #alex_img {
    background-image: url("https://i.pinimg.com/originals/00/41/40/004140673550b922a44a6e1d04bebd92.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 115vh;
    background-size:contain;
    resize: none;
    background-size: 100%;
    
    

  }

  .info {
    
    margin-left: auto;
    margin-right: auto;
    color: #C1E1C1;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    font-family:cursive;
  }

  .header a{
    color:#eee
  }

  h1{
    
    margin : 0;
  }
  * {
    box-sizing: border-box;
  }
  /* @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  } */
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
